.img {
  width: 100px;
  border-radius: 5px;
}

.thehead {
  margin-top: 20px;
  font-size: 20px;
}

.form-control {
  margin: 20px 0;
}

.footerBtn {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 50px;
}

.label {
  color: indigo;
}

.header {
  color: indigo;
  padding: 14px;
  font-size: 2.3em;
}

.bar {
  display: flex;
  flex-wrap: wrap;

  align-items: flex-end;
  margin-left: 200px;
}
